body,html{
    overflow: hidden;
    padding: 0;
    margin: 0;
    }
body{}
.top_tt{
    /* padding-top: 10px; */
    position: relative;
    background-color: #fff;
    overflow: hidden;
    height: 38px;
    line-height: 35px;
    overflow: hidden;
    }

.top_tt .tt{ margin-left: 14px;position: relative;padding:0 10px; border-bottom:4px solid #4879be; display:inline-block;  z-index: 20;}

.top_tt .line{  z-index: 0;height: 1px;clear:both; border-top: #C0C0C0 1px solid;width: 100%;position: absolute;bottom: 0px;}



.navx{
    margin: 0;
    padding-top: 10px;
    overflow: hidden;
    clear: both;
    background-color: #fff;
}
.navx li{
    margin: 0 12px;
    padding: 0 14px;
    float: left;
    height: 38px;
    line-height: 38px;
}
.navx li a{
    color: #333;
    text-decoration: none;
}
.navx li.on{
    background-color: #fff;
    border: 1px solid #3F74BA;
    border-bottom: 0 none;
    border-radius: 4px 4px 0 0;
}


.navx li.on  a{  font-weight: bold;}
.line2{
    border-top: 1px solid #4879BE;
    margin-top: -1px;
}
.iframx{
    position: fixed;
    background-color: #fff;
    top: 87px;
    left: 0;
    right: 0;
    bottom: 5px;
}
.iframx iframe{
    float: left;
    border: 0 none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 20px;
    position: absolute;
    width: 100%;
    height: 94%;
}





