@charset "utf-8";
.top {
	height: 115px;
	background: #7cb924
}
.top .logo {
	float: left;
	margin: 22px 12px 0 0;
}
.top .nav {
	margin-top: 50px;
	margin-left: 46px;
	float: left;
}
.top .nav li {
	float: left;
	margin: 0 28px;
}
.top .nav li a {
	padding-bottom: 6px;
	display: block;
	font-size: 16px;
	text-decoration: none;
	color: #fff;
}
.top .nav li a:hover, .top .nav li a.on {
	border-bottom: 1px solid #fff
}



.foot{
padding-top: 12px;border-top: 1px solid #333;margin-top: 12px;}
.foot dl{
    text-align: center;
    float: left;
    width: 150px;
}
.foot dl a{ text-decoration: none}
.foot dt { line-height: 44px}
.foot dd { }
.foot dt a{ color:#000; font-weight: bold; font-size:16px}
.foot dd a{ color:#333}

.address{ font-weight: bold;line-height: 28px; margin-top: 30px; margin-bottom: 30px;clear: both; text-align: center}

.logo_bottom{
    text-align: center;
}





